<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mingkin.android_employee_manage_project">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Employee" android:label="员工列表"/>
        <activity android:name=".WorkLists" android:label="工作列表"/>
        <activity android:name=".Info" android:label="详细信息"/>
        <activity android:name=".JD" android:label="JD录单"/>
        <activity android:name=".JDR" android:label="JDR录单"/>
    </application>
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
